.button {
  background-color: "white";
  border-radius: "5px";
  color: "black";
  margin: "5px";
  height: "40px";
  min-width: "75px";
  font-weight: "bold";
}
.custom-button {
  background-color: red; /* Byt ut 'red' mot den önskade färgen */
  color: white; /* Om du vill ändra textfärgen på knappen */
}

.mui-theme * {
  color: black;
  font-family: inherit;
}
.table {
  max-width: "600px";
}
@media (max-width: 600px) {
  /* Om skärmbredden är mindre än eller lika med 600px, sätt maxbredden för boxen till 100% */
  .mui-theme .MuiBox-root {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  /* Dölj Drawer när skärmbredden är mindre än eller lika med 600px */
  .drawer {
    display: block;
  }
}
